/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  color: white;
  font-size: 16px; }

.collection::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f07b";
  padding-right: 10px; }

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.tag::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02b";
  padding-right: 10px; }

.addButton-button {
  background-color: gold;
  padding: 7px;
  border-radius: 3px;
  border: none;
  cursor: pointer; }

.addButton-button:hover {
  opacity: 0.8; }

.add-popup-container {
  position: fixed;
  top: 4%;
  left: calc(87% - 150px);
  width: 300px;
  border-radius: 4px;
  background-color: #3f3f3f;
  z-index: 999;
  display: none;
  flex-direction: column;
  padding: 10px; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .wrapper .content {
    display: flex;
    flex: 1 0 auto;
    /* The Modal */
    /* Modal Content */ }
    .wrapper .content .nav {
      display: flex;
      flex-direction: column;
      flex: 0 0 300px;
      background-color: #292929;
      padding: 10px 0 0 0px; }
      .wrapper .content .nav .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; }
        .wrapper .content .nav .nav-header .user-container {
          display: flex;
          align-items: center;
          padding-left: 10px; }
          .wrapper .content .nav .nav-header .user-container .user-img {
            width: 10%; }
            .wrapper .content .nav .nav-header .user-container .user-img img {
              width: 100%;
              border-radius: 50%; }
          .wrapper .content .nav .nav-header .user-container .user-name {
            padding-left: 10px; }
        .wrapper .content .nav .nav-header .collectionButton {
          padding: 5px;
          margin-right: 20px;
          cursor: pointer; }
        .wrapper .content .nav .nav-header .collectionButton:hover {
          background-color: gold; }
      .wrapper .content .nav .nav-content .nav-item {
        margin-bottom: 20px; }
        .wrapper .content .nav .nav-content .nav-item .nav-title {
          color: #8f8f8f;
          font-size: 14px;
          padding-left: 10px; }
        .wrapper .content .nav .nav-content .nav-item .nav-content__list {
          padding: 0;
          margin: 10px 0 0 0;
          list-style: none; }
          .wrapper .content .nav .nav-content .nav-item .nav-content__list .active {
            background-color: lightgrey; }
          .wrapper .content .nav .nav-content .nav-item .nav-content__list li {
            padding-bottom: 10px;
            padding-left: 10px;
            padding-top: 5px;
            cursor: pointer; }
          .wrapper .content .nav .nav-content .nav-item .nav-content__list li:hover:not(.active) {
            background-color: grey; }
          .wrapper .content .nav .nav-content .nav-item .nav-content__list li:active {
            background-color: lightgrey; }
    .wrapper .content .main {
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      background-color: #222;
      width: 100%; }
      .wrapper .content .main .main-header {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #303030; }
        .wrapper .content .main .main-header .search-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          position: relative; }
          .wrapper .content .main .main-header .search-container .search {
            background-color: #222;
            border-radius: 7px; }
            .wrapper .content .main .main-header .search-container .search .search input {
              position: relative;
              height: 32px;
              border-radius: 3px;
              border: none;
              background-color: #222222; }
              .wrapper .content .main .main-header .search-container .search .search input::placeholder {
                color: white; }
          .wrapper .content .main .main-header .search-container .active-popup {
            display: flex; }
        .wrapper .content .main .main-header .collection-title-container {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .wrapper .content .main .main-header .collection-title-container .collection-title__text {
            font-size: 18px;
            font-weight: 600; }
      .wrapper .content .main .bookmark-list {
        display: flex;
        flex-wrap: wrap; }
        .wrapper .content .main .bookmark-list .bookmark-card {
          display: flex;
          flex-direction: column;
          background-color: #3f3f3f;
          flex-basis: 22%;
          min-height: 300px;
          padding: 10px;
          margin: 10px; }
          .wrapper .content .main .bookmark-list .bookmark-card .bookmark-card__img {
            width: 100%; }
            .wrapper .content .main .bookmark-list .bookmark-card .bookmark-card__img img {
              width: 100%; }
          .wrapper .content .main .bookmark-list .bookmark-card .bookmark-card__info .card-title {
            font-size: 18px;
            font-weight: 600; }
          .wrapper .content .main .bookmark-list .bookmark-card .bookmark-card__info .card-description {
            font-size: 14px; }
        .wrapper .content .main .bookmark-list .bookmark-card:hover {
          opacity: 0.9;
          cursor: pointer; }
    .wrapper .content .modal {
      display: none;
      flex-direction: column;
      border-left: 1px solid #838383;
      color: white;
      width: 100%;
      height: 100%; }
    .wrapper .content .show-modal {
      display: flex; }
    .wrapper .content .hide-modal {
      display: none; }
    .wrapper .content .modal-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background-color: #303030; }
    .wrapper .content .close {
      color: white;
      font-size: 28px;
      font-weight: bold; }
    .wrapper .content .close:hover,
    .wrapper .content .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }
    .wrapper .content .modal-header {
      padding: 2px 16px;
      background-color: #3c3c3c;
      color: white;
      display: flex;
      justify-content: space-between;
      flex: 0 0 auto; }
    .wrapper .content .modal-body {
      padding: 2px 16px;
      display: flex;
      flex-direction: column;
      padding-left: 60px;
      padding-right: 60px;
      justify-content: center;
      align-items: center;
      min-width: 300px; }
      .wrapper .content .modal-body .modal-form__content {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        border-bottom: 1px solid white;
        padding-bottom: 40px;
        margin-bottom: 25px; }
        .wrapper .content .modal-body .modal-form__content .modal-elem {
          display: flex;
          margin-bottom: 10px; }
          .wrapper .content .modal-body .modal-form__content .modal-elem label {
            display: flex;
            flex: 1;
            margin-right: 20px; }
          .wrapper .content .modal-body .modal-form__content .modal-elem textarea {
            resize: vertical; }
          .wrapper .content .modal-body .modal-form__content .modal-elem input, .wrapper .content .modal-body .modal-form__content .modal-elem select, .wrapper .content .modal-body .modal-form__content .modal-elem textarea {
            flex: 2;
            width: 100%;
            background-color: #222222;
            color: #e8e8e8; }
  .wrapper .footer {
    display: flex;
    flex-shrink: 0; }
