//===MIXINS===//
@import 'normalize.scss';

//===/MIXINS===//

//===VARIABLES===//
$main-color: #222222;
$nav-color: #222222;
$text-color: #E8E8E8;
$card-color: #3F3F3F;
$main-header-color:#303030;
//===/VARIABLES===//

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 16px;
    color: $text-color;
    background-color: $main-color;
    font-family: 'Roboto', sans-serif;
}
.wrapper {

    height: 100%;

    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex: 0 0 auto;
    }

    .content {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;    
        

        .form-auth, .form-reg {

            display: flex;
            flex-direction: column;
            flex-basis: 400px;
            padding:10px;
            background-color: $card-color;
            margin-top: -20%;

            .form-title {
                margin-bottom: 30px;
                font-size: 32px;
                
            }
            .login-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;


            }
            .password-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .form-auth-footer, .form-reg-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 20px;

                .form-auth-footer-registration-link, .form-reg-footer-auth-link {
                    display: block;                    
                }
                .form-auth-button, .form-reg-button {
                    display: flex;                
                    padding: 10px 15px 10px 15px;
                    
                }
            }
        }

    }
    .footer {
        display: flex;
        flex: 0 0 auto;
    }
}
