//===MIXINS===//
@import "normalize.scss";

//===/MIXINS===//

//===VARIABLES===//
$main-color: #222222;
$nav-color: #222222;
$text-color: #e8e8e8;
$card-color: #3f3f3f;
$main-header-color: #303030;
//===/VARIABLES===//

//===COMMONS===//
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: white;
    font-size: 16px;
}

.collection::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b";
    padding-right: 10px;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.tag::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f02b";
    padding-right: 10px;
}
.addButton-button {
    background-color: gold;
    padding: 7px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.addButton-button:hover {
    opacity: 0.8;
}
.add-popup-container {
    position: fixed;
    top: 4%;
    left: calc(87% - 150px);
    width: 300px;
    border-radius: 4px;
    background-color: $card-color;

    z-index: 999;
    display: none;
    flex-direction: column;
    padding: 10px;
}
//===/COMMONS===//

.wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .content {
        display: flex;
        flex: 1 0 auto;

        .nav {
            display: flex;
            flex-direction: column;
            flex: 0 0 300px;
            //flex-basis: 30%;
            background-color: #292929;
            padding: 10px 0 0 0px;

            .nav-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                .user-container {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;

                    .user-img {
                        width: 10%;

                        img {
                            width: 100%;
                            border-radius: 50%;
                        }
                    }

                    .user-name {
                        padding-left: 10px;
                    }
                }

                .collectionButton {
                    padding: 5px;
                    margin-right: 20px;
                    cursor: pointer;
                }

                .collectionButton:hover {
                    background-color: gold;
                }
            }

            .nav-content {
                .nav-item {
                    margin-bottom: 20px;

                    .nav-title {
                        color: #8f8f8f;
                        font-size: 14px;
                        padding-left: 10px;
                    }

                    .nav-content__list {
                        padding: 0;
                        margin: 10px 0 0 0;
                        list-style: none;
                        .active {
                            background-color: lightgrey;
                        }
                        li {
                            padding-bottom: 10px;
                            padding-left: 10px;
                            padding-top: 5px;
                            cursor: pointer;
                        }

                        li:hover:not(.active) {
                            background-color: grey;
                        }
                        li:active {
                            background-color: lightgrey;
                        }
                    }
                }
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            // min-width: 70%;
            background-color: #222;
            width: 100%;

            .main-header {
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: #303030;

                .search-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 30px;
                    position: relative;

                    .search {
                        background-color: #222;
                        border-radius: 7px;

                        .search input {
                            position: relative;
                            height: 32px;
                            border-radius: 3px;
                            border: none;
                            background-color: #222222;

                            &::placeholder {
                                color: white;
                            }
                        }
                    }



                    .active-popup {
                        display: flex;
                        //background-color: red;
                    }
                }

                .collection-title-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .collection-title__text {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .collection-additional {
                    }
                }
            }

            .bookmark-list {
                display: flex;

                flex-wrap: wrap;

                .bookmark-card {
                    display: flex;
                    flex-direction: column;
                    background-color: #3f3f3f;
                    flex-basis: 22%;
                    min-height: 300px;
                    padding: 10px;
                    margin: 10px;

                    .bookmark-card__img {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    .bookmark-card__info {
                        .card-title {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .card-description {
                            font-size: 14px;
                        }
                    }
                }
                .bookmark-card:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
        /* The Modal */
        .modal {
            display: none;
            flex-direction: column;
            border-left: 1px solid #838383;

            color: white;
            width: 100%;
            height: 100%;
        }

        .show-modal {
            display: flex;
        }
        .hide-modal {
            display: none;
        }
        /* Modal Content */
        .modal-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background-color: #303030;
        }

        .close {
            color: white;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
            background-color: #3c3c3c;
            color: white;
            display: flex;
            justify-content: space-between;
            flex: 0 0 auto;
        }

        .modal-body {
            padding: 2px 16px;
            display: flex;
            flex-direction: column;
            padding-left: 60px;
            padding-right: 60px;
            justify-content: center;
            align-items: center;
            min-width: 300px;
            
            
            
            .modal-form__content {
                display: flex;
                flex-direction: column;
                margin-top: 10%;
                border-bottom: 1px solid white;
                padding-bottom: 40px;
                margin-bottom: 25px;

                .modal-elem {
                    display: flex;
                    margin-bottom: 10px;

                    label{
                        display: flex;
                        flex: 1;
                        margin-right: 20px;
                    }
                    textarea {
                        resize: vertical;
                    }
                    input, select, textarea {
                        flex: 2;
                        width: 100%;                        
                        background-color: $main-color;
                        color: $text-color;
                    }
                }
            }

        
        }
    }

    .footer {
        display: flex;
        flex-shrink: 0;
    }
}
